.main {
  padding: 30px clamp(30px, 5vw, 300px);
}

.hero_container {
  display: flex;
  gap: 30px;
  /* flex-wrap: wrap; */
}

.card_container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
  background-color: rgb(220, 220, 220);
  border-radius: 15px;
}

/* TODO: remove */
.TEMP_card {
  width: 90%;

  /* Standard playing card ratio */
  aspect-ratio: 2.5/3.5;
}

.info_container {
  flex: 1;
}

.title {
  font-size: 1.8em;
  font-weight: bold;
  margin-bottom: 15px;
}

.account_row {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}

.TEMP_pfp {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin-right: 10px;
}

.username {
  font-weight: 500;
  text-align: center;
}

.user_num_listings {
  font-size: 0.85em;
  color: rgb(86, 86, 86);
}

.auction_main_data {
  margin-bottom: 20px;
  display: flex;
  padding-bottom: 10px;
  border-bottom: 1.5px solid gray;
  /* box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1); */
}

.high_bid,
.closing_in,
.num_bids {
  flex: 1;
  display: flex;
  padding: 10px 7px;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  gap: 7px;
}
.closing_in {
  border-left: 1px solid lightgray;
  border-right: 1px solid lightgray;
}
.num_bids {
  background: none;
  border: 0;
  cursor: pointer;
  transition: background-color 0.2s;
}
.num_bids:hover {
  background-color: lightgray;
}

.main_data_label {
  font-size: 0.8rem;
  color: rgb(86, 86, 86);
  text-align: center;
}
.main_data_label_row {
  display: flex;
  align-items: center;
  gap: 7px;
}
.num_bids .main_data_label {
  text-decoration: underline;
  text-underline-offset: 2px;
}

.high_bid_amt,
.closing_in_amt,
.num_bids_amt {
  text-align: center;
}
.high_bid_amt {
  font-size: 1.7em;
  font-weight: 700;
}
.closing_in_amt {
  font-size: 1.5em;
  font-weight: 500;
  color: red;
  animation: timer_blink 1s infinite;
  animation-delay: 0.9s;
}
.num_bids_amt {
  font-size: 1.7rem;
  font-weight: 600;
}

.green_highlight {
  color: rgb(0, 138, 0);
}

@keyframes timer_blink {
  0% {
    color: red;
  }
  50% {
    color: darkred;
  }
  100% {
    color: red;
  }
}

.button_row {
  display: flex;
  gap: 15px;
  margin-bottom: 20px;
}

.auction_secondary_data {
  display: grid;
  grid-template-columns: 150px 1fr;
  row-gap: 15px;
  padding: 0 15px;
  margin-bottom: 25px;
}

.secondary_data_label {
  display: flex;
  align-items: center;
}

.condition,
.location,
.start_date,
.end_date {
  font-weight: 600;
}

.condition_row,
.location_row {
  display: flex;
  align-items: center;
  gap: 15px;
}

.view_map {
  border: 0;
  padding: 0;
  background: none;
  cursor: pointer;
}

.bids_container {
  width: 100%;
  padding: 20px 30px;
  overflow-y: auto;
}

.bids_title {
  margin-top: 10px;
  margin-bottom: 5px;
  font-size: 1.8em;
  font-weight: 600;
}

.bids_listing_title {
  font-size: 1em;
  font-weight: 400;
  margin-bottom: 25px;
}

.bids_info {
  display: flex;
  padding-bottom: 10px;
  border-bottom: 1.5px solid gray;
  margin-bottom: 20px;
}

.starting_bid,
.spread,
.bid_count {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  padding: 10px 0;
}
.spread {
  border-left: 1px solid lightgray;
  border-right: 1px solid lightgray;
}

.starting_bid_amt,
.spread_amt,
.bid_count_amt {
  font-size: 1.3em;
  font-weight: 600;
}

.bid_info_label {
  font-size: 0.8em;
  color: rgb(86, 86, 86);
}

.bids_close_row {
  margin-top: 20px;
  margin-bottom: 10px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.confirm_bid_container {
  width: 100%;
  padding: 20px 30px;
  overflow-y: auto;
}

.confirm_title_row {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 10px;
  margin-bottom: 20px;
}
.confirm_title {
  font-size: 2em;
  font-weight: 600;
}

.confirm_msg {
  margin-bottom: 20px;
}

.confirm_msg_end {
  margin: 20px 0;
}

.bold {
  font-weight: 600;
}

.confirm_button_row {
  margin-bottom: 5px;
  display: flex;
  justify-content: flex-end;
  gap: 15px;
}

@media (max-width: 800px) {
  .hero_container {
    flex-direction: column;
  }
}
