.hero_container {
  width: 100%;
  /* margin-top: -30px; */
}

.hero_banner,
.sell_container {
  position: relative;
  width: 100%;
  aspect-ratio: 10/3;
  min-height: 300px;
}

.hero_text {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, black, rgba(0, 0, 0, 0.6), transparent);
  display: flex;
  flex-direction: column;
  justify-content: safe center;
  gap: 5%;
  padding-left: 5%;
}

.hero_title {
  color: white;
  font-size: 3em;
  font-weight: 700;
  margin-bottom: -10px;
}
.hero_subtitle {
  color: var(--secondary);
  /* filter: brightness(1.3); */
  font-size: 1.4em;
  font-weight: 600;
  margin-bottom: 35px;
}

.sell_title {
  color: white;
  font-size: 2.3em;
  font-weight: 700;
  /* margin-bottom: 5px; */
}
.sell_subtitle {
  max-width: 50%;
  color: rgb(220, 220, 220);
  font-size: 1.2em;
  font-weight: 600;
  margin-bottom: 30px;
}
.sell_emphasis {
  font-weight: bold;
  text-decoration: underline;
  color: var(--secondary);
}

.section_title {
  padding: 0 clamp(30px, 7vw, 300px);
  font-size: 1.7em;
  font-weight: 600;
  margin-top: 40px;
  margin-bottom: 30px;
}

.section_container {
  padding: 0 clamp(30px, 7vw, 300px);
  margin-bottom: 50px;
  width: 100%;
  overflow-x: auto;
}
.list_container {
  padding-right: 20px;
}

.recommended,
.trending,
.ending_soon {
  margin-bottom: 15px;
  width: fit-content;
  display: flex;
  align-items: flex-start;
  gap: 20px;
}

.games {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: clamp(25px, 5vw, 50px);
}

.game {
  width: 100%;
  aspect-ratio: 2;
  position: relative;
  padding: 0;
  background: 0;
  border: 0;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
}
.game_unclickable {
  cursor: default;
}

.game_overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 15px;
  background: radial-gradient(
    circle,
    rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0.6),
    transparent
  );
  display: flex;
  justify-content: center;
  align-items: center;
}
.game_overlay_dark {
  background: radial-gradient(rgba(0, 0, 0), rgb(0, 0, 0, 0.7) transparent);
}
.game_title {
  color: white;
  font-size: 2.5em;
  font-weight: 700;
  text-align: center;
}
.game_title_small {
  font-size: 1.7em;
}

@media (max-width: 600px) {
  .games {
    grid-template-columns: 1fr;
  }
  .recommmended,
  .trending {
    padding: 0 30px;
  }
}
@media (max-width: 350px) {
  .hero_title {
    font-size: 2.5em;
  }
  .hero_subtitle {
    font-size: 1.2em;
  }
  .game_title {
    font-size: 1.5em;
  }
  .sell_title {
    font-size: 1.8em;
  }
  .sell_subtitle {
    font-size: 0.8em;
  }
}
@media (min-width: 1300px) {
  .game_title {
    font-size: 3em;
  }
}
