.container {
  width: 300px;
  padding: 5px;
  justify-self: center;
}

.img_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 300px;
  overflow: hidden;
  position: relative;
  background-color: rgb(232, 232, 232);
  border-radius: 10px;
  cursor: pointer;
}

.img_button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  border: 0;
  background: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  cursor: pointer;
}

.img_relative {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100%;
  /* Standard playing card ratio */
  aspect-ratio: 2.5/3.5;
}

.TEMP_img {
  width: 100%;
  object-fit: contain;
}

.star {
  z-index: 10;
  position: absolute;
  top: 10px;
  right: 10px;
}

.title {
  font-size: 1.2em;
  font-weight: 500;
  line-height: 1.4;
  padding: 0;
  background: 0;
  border: 0;
  margin-top: 15px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  cursor: pointer;
  text-align: start;
}
.title:hover,
.title:focus-visible {
  text-decoration: underline;
}

.quality {
  font-style: italic;
  margin-top: 5px;
  font-size: 0.9em;
  color: rgb(87, 87, 87);
}

.price_row {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  align-items: center;
  margin-top: 10px;
}

.price {
  margin-right: 15px;
  font-size: 1.5em;
  font-weight: 600;
}

.num_bids {
  color: var(--accent);
  filter: brightness(0.9);
  text-decoration: underline;
  text-underline-offset: 3px;
}

.time_remaining {
  font-size: 0.9rem;
  margin-top: 5px;
  color: gray;
  line-height: 1.5;
}

.time {
  font-size: 1.1rem;
  letter-spacing: -0.5px;
  font-weight: 500;
  color: rgb(40, 40, 40);
}
.time_soon {
  color: red;
  filter: brightness(0.9);
}
.ended {
  color: black;
}

.location {
  font-size: 0.8em;
  margin-top: 8px;
  color: gray;
}

.starting_in {
  font-size: 0.9em;
  color: rgb(90, 90, 90);
}

.no_address {
  color: gray;
  font-style: italic;
}

@media (max-width: 960px) {
  .container {
    width: 260px;
  }
}
