.container {
  padding: 30px 60px;
}

.title {
  font-size: 1.5em;
  font-weight: 600;
  margin-bottom: 30px;
}

.button_row {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 15px;
  margin-top: 30px;
}

.maps_note {
  text-align: center;
  font-size: 0.8em;
  color: gray;
  margin-top: 15px;
}
